#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px; 
    height: 500px;
    border: 1px solid black;
    margin-top: 20px;
}

.square {
    flex: 1 0 calc(100% / var(--grid-size));
    height: calc(500px / var(--grid-size)); 
    border: 1px solid grey;
    box-sizing: border-box; 
}
